@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  .baloo {
    font-family: "Baloo 2", cursive;
  }
  .roboto {
    font-family: "Roboto", sans-serif;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../medias/icons/map.png);
    background-repeat: no-repeat;
    background-position: 10px;
    &::after {
      content: "dadasd";
      width: 100%;
      height: 100%;
    }
    option {
      background-image: url(../medias/icons/map.png);
      background-repeat: no-repeat;
      background-position: 10px;
    }

    /* adicione aqui um background-image para personalizar o ícone */
  }

  section {
    &.hero {
      background-image: url(../medias/images/Background.png);
      background-position: center;
      background-size: cover;
    }
  }
}
